<%= form_for @case, :html => { :class => "form-horizontal case" } do |f| %>

    <% if @case.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@case.errors.count, "error") %> prohibited this case from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @case.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%= error_span(@case[:title]) %>
  </div>
  <div class="control-group">
    <%= f.label :display_order, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :display_order, :class => 'form-control' %>
    </div>
    <%= error_span(@case[:display_order]) %>
  </div>
  <div class="control-group">
    <%= f.label :priority_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :priority_id, :class => 'form-control' %>
    </div>
    <%= error_span(@case[:priority_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :case_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :case_type_id, :class => 'form-control' %>
    </div>
    <%= error_span(@case[:case_type_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :suite_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :suite_id, :class => 'form-control' %>
    </div>
    <%= error_span(@case[:suite_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            cases_path, :class => 'btn btn-default' %>

<% end %>
